[submodule "staging/github.com/DanielXLee/multicloud-operators-placementrule"]
	path = staging/github.com/DanielXLee/multicloud-operators-placementrule
	url = https://github.com/DanielXLee/multicloud-operators-placementrule
